<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>

<body>
    <h1>Edit Form</h1>
    <form action="/edited/{{data.id}}" method="POST">
        {% csrf_token %}
        <label for="uname">Username:</label>
        <input type="text" name="uname" value="{{data.name}}"> <br><br>
        <label for="email">Email Id:</label>
        <input type="text" name="email" value="{{data.email}}"> <br><br>
        <label for="mob">Mobile Num:</label>
        <input type="text" name="mob" value="{{data.mobile}}"><br><br>
        <label for="msg">Msg:</label>
        <textarea name="msg" id="">{{data.msg}}</textarea><br><br>
        <input type="submit" value="Edit">

    </form>
</body>

</html>